---
layout: default
title: purplelabs
stylesheet: assets/css/index.css
---
<section class="index top-image-container">
  <img class="index top-image-container__image"
  src="assets/images/index/banner-main-top.png"
  srcset="assets/images/index/banner-main-top@2x.png 2x">
</section>

<section class="history">
  <p class="light history__title">리테일의 미래를 꿈꾸다</p>
  <p class="normal history__content">
    퍼플랩스, 퍼플랩스 헬스케어는 연쇄 창업가 전종하 대표가 각각 2017년 5월과 2018년 3월에 설립한 회사입니다.<br class="desktop-br"/>
    우리는 사회문제를 해결할 수 있는 명분을 가진 비즈니스를 연구했고, 많은 리서치를 통해<br class="desktop-br"/>
    삶에 가장 가까이 연결되어 있는 '리테일'은 아직도 다양한 문제를 안고 있어서 깊은 혁신이 절실히 필요하다고 생각했습니다.
  </p>

  <div class="history__timeline"></div>

  <div class="history__point1"></div>
  <p class="bold history__date1">2017.06</p>
  <p class="normal history__event1">퍼플랩스 설립</p>

  <div class="history__point2"></div>
  <p class="bold history__date2">2017.10</p>
  <p class="normal history__event2">퍼플랩스 기업부설연구소 설립</p>

  <div class="history__point3"></div>
  <p class="bold history__date3">2018.05</p>
  <p class="normal history__event3">퍼플랩스 헬스케어 설립</p>

  <div class="history__point4"></div>
  <p class="bold history__date4">2018.12</p>
  <p class="normal history__event4">퍼플랩스 시드 투자 유치</p>

  <div class="history__point5"></div>
  <p class="bold history__date5">2019.05</p>
  <p class="normal history__event5">퍼플랩스 헬스케어 투자 유치</p>
</section>

<section class="index bottom-image-container">
  <img class="index bottom-image-container__image"
  src="assets/images/index/banner-main-recruit.png"
  srcset="assets/images/index/banner-main-recruit@2x.png 2x, assets/images/index/banner-main-recruit@3x.png 3x">

  <div class="index bottom-text-container">
    <p class="light index bottom-text-container__title">
      퍼플랩스/퍼플랩스헬스케어와 함께<br class="desktop-br"/>
      흥미로운 여정을 떠날 동료를 모십니다.
    </p>
    <a class="bold index bottom-text-container__button" href="recruit.html">우리가 일하는 방식 ></a>
  </div>
</section>

<section class="news">
  <p class="light news__title">언론속의 퍼플랩스</p>
  {% for article in site.data.index__news %}
    {% include index/article.html 
      index = forloop.index link = article.link title = article.title press = article.press date = article.date %}
  {% endfor %}
</section>

<section class="directions">
  <p class="light directions__title">
    궁금한 점이 있으시면<br/>
    언제든 연락주세요.
  </p>

  <p class="normal directions__address-key">찾아오시는 길</p>
  <p class="normal directions__address-value">서울특별시 강남구 선릉로 551 1층 퍼플랩스/퍼플랩스헬스케어</p>
  <p class="normal directions__contact-key">문의</p>
  <p class="normal directions__contact-value">taegun.shin@purplelabs.co.kr</p>

  <div class="div directions__map-container">
    <img class="directions__map" src="assets/images/index/img-map.svg">
  </div>
</section>
