---
layout: default
title: purplelabs
stylesheet: assets/css/index.css
---
<section class="top">
  <img src="assets/images/banner-main-top.png" srcset="assets/images/banner-main-top@2x.png 2x" class="banner">
</section>

<section class="mid">
  <img src="assets/images/banner-main-recruit.svg" class="banner">
  <div class="container">
    <p class="light title">
      퍼플랩스/퍼플랩스헬스케어와 함께<br/>
      흥미로운 여정을 떠날 동료를 모십니다.
    </p>
    <p class="bold button">우리가 일하는 방식 ></p>
  </div>
</section>

<section class="news">
  <p class="light section_title">언론속의 퍼플랩스</p>
  {% include index/article.html 
    title = "세리박스, \"세리번 12차 완판 달성... 관심 늘어\"" press = "Korea Daily" date = "2019.05" %}
  {% include index/article.html 
    title = "리테일 혁명, 무인스토어가 앞장선다." press = "테넌트뉴스" date = "2019.03" %}
  {% include index/article.html 
    title = "무인스토어, 무인화솔루션 스타트업 퍼플랩스 스프링캠프로부터 투자 유치" press = "비지니스 코리아" date = "2019.01" %}
  {% include index/article.html 
    title = "세리박스, 2018 한국소비자평가 건강기능식품 다이어트 부문 1위 수상" press = "파이낸스 투데이" date = "2018.11" %}
  {% include index/article.html 
    title = "[인터뷰] 전종하 대표 \"게임, 신문에서 리더십, 장사 노하우 배웠죠\"" press = "매일경제" date = "2018.01" %}
</section>

<section class="bottom">
  <p class="light title">
    궁금한 점이 있으시면<br/>
    언제든 연락주세요.
  </p>
  <p class="normal key address">찾아오시는 길</p>
  <p class="normal value address">서울특별시 강남구 선릉로 551 1층 퍼플랩스/퍼플랩스헬스케어</p>
  <p class="normal key contact">문의</p>
  <p class="normal value contact">taegun.shin@purplelabs.co.kr</p>
  <img src="assets/images/img-map.svg" class="img_map">
</section>

<footer>
  <p class="normal menu purplelabs">퍼플랩스</p>
  <p class="normal menu purplelabs-healthcare">퍼플랩스헬스케어</p>
  <p class="normal menu recruit">채용</p>
  <p class="normal copyright">ⓒ Purplelabs, Inc. Purplelabs Healthcare, Inc. All rights reserved.</p>
</footer>