---
layout: default
title: purplelabs
stylesheet: assets/css/purplelabs.css
---
<section class="purplelabs top-image-container">
  <img class="purplelabs top-image-container__image" src="assets/images/banner-pl-mainvisual.svg">
</section>

<section class="goal">
  <p class="light goal__title">우리가 추구하는 것</p>
  {% include purplelabs/card.html
    number = "01" title = "매출과 이익" %}
  {% include purplelabs/card.html
    number = "02" title = "절대품질, 절대가격을 통한<br/>합리적 프리미엄" %}
  {% include purplelabs/card.html
    number = "03" title = "오프라인 혁신을 통한<br/>고객의 라이프 파트너" %}
  {% include purplelabs/card.html
    number = "04" title = "데이터에 기반한<br/>상호작용" %}
  {% include purplelabs/card.html
    number = "05" title = "고객과의 신뢰" %}
</section>

<section class="purplelabs bottom-image-container">
  <img class="purplelabs bottom-image-container__image" src="assets/images/banner-pl-01-company-tech.png" srcset="assets/images/banner-pl-01-company-tech@2x.png 2x, assets/images/banner-pl-01-company-tech@3x.png 3x">
  
  <div class="purplelabs bottom-text-container">
    <p class="light purplelabs bottom-text-container__title">우리가 만들어가는 기술</p>
    <p class="normal purplelabs bottom-text-container__content">
      오프라인에서 무조건 이기는 게임을 하기 위해<br/>
      언택트 리테일, 옴니채널, 스마트물류에 많은 관심을 갖고 있습니다.
    </p>
  </div>
</section>