---
layout: default
title: purplelabs
stylesheet: assets/css/recruit.css
---
<section class="recruit top-image-container">
  <img class="recruit top-image-container__image" src="assets/images/recruit/banner-recruit-mainvisual.svg">
</section>

<section class="purpleway">
  <p class="light purpleway__title">우리가 일하는 방식</p>
  {% for purpleway in site.data.recruit__purpleways %}
    {% include company/card.html number = purpleway.number title = purpleway.title %}
  {% endfor %}
</section>

<section class="purple-culture">
  <p class="purple-culture__title">복지와 문화</p>

  <div class="culture divider">
    <p class="normal culture__title">효율적인 근무 환경을 <br class="desktop-br"/>추구합니다.</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">유연 근무제 실시</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">조기 출근 포인트 적립 시 월급 외 추가 지급</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">까페에서 원격 근무 가능</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">자율적 휴가 사용</p>
  </div>

  <div class="culture divider">
    <p class="normal culture__title">효율적인 근무 환경을 <br class="desktop-br"/>추구합니다.</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">유연 근무제 실시</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">조기 출근 포인트 적립 시 월급 외 추가 지급</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">까페에서 원격 근무 가능</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">자율적 휴가 사용</p>
  </div>

  <div class="culture">
    <p class="normal culture__title">효율적인 근무 환경을 <br class="desktop-br"/>추구합니다.</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">유연 근무제 실시</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">조기 출근 포인트 적립 시 월급 외 추가 지급</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">까페에서 원격 근무 가능</p>
    <div class="culture__dot"></div>
    <p class="normal culture__content">자율적 휴가 사용</p>
  </div>
</section>

<section class="recruit bottom-image-container">
  <img class="recruit bottom-image-container__image" src="assets/images/recruit/banner-recruit-bottom.svg">
  
  <div class="recruit bottom-text-container">
    <p class="normal recruit bottom-text-container__title">
      퍼플랩스/퍼플랩스헬스케어와 함께 <br class="desktop-br"/>
      흥미로운 여정을 떠날 동료를 모십니다.
    </p>
    <p class="bold recruit bottom-text-container__button">채용분야 보기</p>
  </div>
</section>