<header class="header">
  <img src="assets/images/logo-purplelabs-white.png" srcset="assets/images/logo-purplelabs-white@2x.png 2x, assets/images/logo-purplelabs-white@3x.png 3x" class="logo_purplelabs_white">
  <img src="assets/images/logo-purplelabs-purple.png" srcset="assets/images/logo-purplelabs-purple@2x.png 2x, assets/images/logo-purplelabs-purple@3x.png 3x" class="logo_purplelabs_purple">
  <p class="normal menu purplelabs">퍼플랩스</p>
  <p class="normal menu purplelabs-healthcare">퍼플랩스헬스케어</p>
  <p class="normal menu recruit">채용</p>
</header>