<header class="header">
  <a href="index.html" class="header__logo-white">
    <img src="assets/images/logo-purplelabs-white.png" srcset="assets/images/logo-purplelabs-white@2x.png 2x, assets/images/logo-purplelabs-white@3x.png 3x">
  </a>

  <a href="index.html" class="header__logo-purple">
    <img src="assets/images/logo-purplelabs-purple.png" srcset="assets/images/logo-purplelabs-purple@2x.png 2x, assets/images/logo-purplelabs-purple@3x.png 3x">
  </a>

  <a href="purplelabs.html" class="bold header__purplelabs">퍼플랩스</a>
  <a href="purplelabs-healthcare.html" class="bold header__purplelabs-healthcare">퍼플랩스헬스케어</a>
  <a href="recruit.html" class="bold header__recruit">채용</a>
</header>