<header class="header">
  <a href="index.html" class="header__logo-white">
    <img src="assets/images/default/logo-purplelabs-white.png" 
    srcset="assets/images/default/logo-purplelabs-white@2x.png 2x, assets/images/default/logo-purplelabs-white@3x.png 3x">
  </a>

  <a href="index.html" class="header__logo-purple">
    <img src="assets/images/default/logo-purplelabs-purple.png" 
    srcset="assets/images/default/logo-purplelabs-purple@2x.png 2x, assets/default/images/logo-purplelabs-purple@3x.png 3x">
  </a>

  <a href="index.html" class="header__logo-white--mobile">
    <img class="header__logo-white--m" src="assets/images/default/m-logo-purplelabs-white.png" 
    srcset="assets/images/default/m-logo-purplelabs-white@2x.png 2x, assets/images/default/m-logo-purplelabs-white@3x.png 3x">
  </a>

  <a href="index.html" class="header__logo-purple--mobile">
    <img class="header__logo-purple--m" src="assets/images/default/m-logo-purplelabs-purple.png" 
    srcset="assets/images/default/m-logo-purplelabs-purple@2x.png 2x, assets/images/default/m-logo-purplelabs-purple@3x.png 3x">
  </a>

  <img class="header__hamburger-white" src="assets/images/default/ic-menu-white.svg">
  <img class="header__hamburger-black" src="assets/images/default/ic-menu-black.svg">

  <a href="purplelabs.html" class="bold header__purplelabs">퍼플랩스</a>
  <a href="purplelabs-healthcare.html" class="bold header__purplelabs-healthcare">퍼플랩스헬스케어</a>
  <a href="recruit.html" class="bold header__recruit">채용</a>
</header>