<section class="menu" style="display: none;">
  <a href="index.html" class="menu__logo-container">
    <img class="menu__logo" src="assets/images/default/m-logo-purplelabs-white.png" 
    srcset="assets/images/default/m-logo-purplelabs-white@2x.png 2x, assets/images/default/m-logo-purplelabs-white@3x.png 3x">
  </a>
  <img class="menu__close" src="assets/images/default/ic-menu-close.svg">

  <a href="purplelabs.html" class="normal menu__purplelabs">퍼플랩스</p>
  <a href="purplelabs-healthcare.html" class="normal menu__purplelabs-healthcare">퍼플랩스헬스케어</p>
  <a href="recruit.html" class="normal menu__recruit">채용</p>
</section>