---
---
.top-image-container,
.bottom-image-container {
  overflow: hidden;
  position: relative;

  .top-image-container__image,
  .bottom-image-container__image {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .bottom-text-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.index.top-image-container {
  max-height: 880px;

  .index.top-image-container__image {
    min-width: 1124px;
  }
}

.index.bottom-image-container {
  max-height: 400px;

  .index.bottom-image-container__image {
    min-width: 1536px;
  }
}

.index.bottom-text-container {
  .index.bottom-text-container__title {
    grid-area: title;
    color: #333333;
  }
  
  .index.bottom-text-container__button {
    grid-area: button;
    color: #663399;
    text-decoration: none;
  }
}