---
---
body {
  display: block;
  margin: 0;
  font-family: 'NanumSquare', sans-serif;
  p {
    margin: 0;
  }
  .normal { 
    font-weight: 400;
  }
  .bold { 
    font-weight: 700;
  }
  .bolder { 
    font-weight: 800;
  }
  .light { 
    font-weight: 300;
  }
}

footer {
  .footer__purplelabs,
  .footer__purplelabs-healthcare,
  .footer__recruit {
    color: #666666;
  }

  .footer__purplelabs,
  .footer__purplelabs-healthcare,
  .footer__recruit {
    text-decoration: none;
  }

  .footer__purplelabs {
    grid-area: purplelabs;
  }

  .footer__purplelabs-healthcare {
    grid-area: purplelabs-healthcare;
  }

  .footer__recruit {
    grid-area: recruit;
  }

  .footer__copyright {
    grid-area: copyright;
    color: #999999;
  }
}

footer {
  height: 88px;

  display: grid;
  align-items: center;
  grid-column-gap: 30px;
  grid-template-columns: 1fr auto auto auto 1fr auto 1fr;
  grid-template-areas: ". purplelabs purplelabs-healthcare recruit . copyright .";

  .footer__purplelabs,
  .footer__purplelabs-healthcare,
  .footer__recruit {
    font-size: 13px;
  }

  .footer__copyright {
    font-size: 11px;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;

  .header__logo-white, 
  .header__logo-purple,
  .header__logo-white--mobile, 
  .header__logo-purple--mobile {
    grid-area: logo;
  }
  
  .header__hamburger {
    grid-area: hamburger;
  }

  .header__purplelabs,
  .header__purplelabs-healthcare,
  .header__recruit {
    text-decoration: none;
    font-size: 18px;
  }

  .header__purplelabs {
    grid-area: purplelabs;
  }

  .header__purplelabs-healthcare {
    grid-area: purplelabs-healthcare;
  }

  .header__recruit {
    grid-area: recruit;
  }
}

.header {
  background-color: transparent;

  .header__purplelabs,
  .header__purplelabs-healthcare,
  .header__recruit {
    color: white;
  }
}

.header--scrolled {
  background-color: white;

  .header__purplelabs,
  .header__purplelabs-healthcare,
  .header__recruit {
    color: #333333;
  }
}

@media (min-width: 1200px) {
  header {
    height: 88px;
  
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 48px;
    grid-template-columns: minmax(0, 400px) minmax(573px, 1fr) 66px 132px 33px minmax(0, 400px);
    grid-template-areas: ". logo purplelabs purplelabs-healthcare recruit .";
  
    .header__logo-white--mobile,
    .header__logo-purple--mobile, 
    .header__hamburger{
      display: none;
    }
  }

  .header {
    .header__logo-purple {
      display: none;
    }
  }

  .header--scrolled {
    .header__logo-white {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  header {  
    height: 64px;
  
    display: grid;
    justify-content: stretch;
    align-items: center;
    grid-template-columns: 30px 58px 1fr auto 30px;
    grid-template-areas: ". logo . hamburger .";
  
    .header__logo-white--m,
    .header__logo-purple--m {
      height: 32px;
    }

    .header__logo-white,
    .header__logo-purple,
    .header__purplelabs,
    .header__purplelabs-healthcare,
    .header__recruit {
      display: none;
    }
  }

  .header {
    .header__logo-purple--mobile {
      display: none;
    }
  }

  .header--scrolled {
    .header__logo-white--mobile {
      display: none;
    }
  }
}