---
---
body {
  margin: auto;
  font-family: 'NanumSquare', sans-serif;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  p.normal { 
    font-weight: 400 
  }
  p.bold { 
    font-weight: 700
  }
  p.bolder { 
    font-weight: 800 
  }
  p.light { 
    font-weight: 300
  }
}

.top {
  width: 100%;
  min-height: 515px;
  max-height: 880px;
  overflow: hidden;

  .banner {
    min-width: 1124px;
    width: 100%;
    height: auto;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}