---
---
body {
  margin: auto;
  font-family: 'NanumSquare', sans-serif;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  p {
    margin: 0;
  }
  p.normal { 
    font-weight: 400 
  }
  p.bold { 
    font-weight: 700
  }
  p.bolder { 
    font-weight: 800 
  }
  p.light { 
    font-weight: 300
  }
}

.top {
  width: 100%;
  max-height: 880px;
  overflow: hidden;

  .banner {
    min-width: 1124px;
    width: 100%;
    height: auto;
  }
}

.mid {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  overflow: hidden;
  position: relative;

  .banner {
    min-width: 1536px;
    width: 100%;
    height: auto;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr 1fr;
    grid-gap: 30px;

    .title {
      margin: 0;
      font-size: 28px;
      line-height: 1.5;
      color: #333333;
      grid-column: 2;
      grid-row: 2;
    }
  
    .button {
      margin: 0;
      font-size: 14px;
      color: #663399;
      grid-column: 2;
      grid-row: 3;
    }
  }
}

.bottom {
  width: 100%;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 209fr 209fr auto 145fr auto;
  grid-template-rows: 74fr auto 36fr auto auto 14fr auto auto 72fr;
  grid-column-gap: 15px;
  grid-row-gap: 8px;
  overflow: hidden;

  .img_map {
    grid-column: 5;
    grid-row: 1 / -1;
    min-width: 768px;
    width: 100%;
  }

  .title {
    grid-row: 2;
    font-size: 28px;
    line-height: 1.5;
    color: #333333;
  }

  .key {
    font-size: 13px;
    color: #333333;
  }

  .value {
    font-size: 13px;
    color: #666666;
  }

  .title,
  .key,
  .value {
    grid-column: 3;
    min-width: 337px;
  }

  .key.address {
    grid-row: 4;
  }
  .value.address {
    grid-row: 5;
  }
  .key.contact {
    grid-row: 7;
  }
  .value.contact {
    grid-row: 8;
  }
}

footer {
  width: 100%;
  height: 88px;
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr auto 1fr;
  grid-row: 1fr auto 1fr;
  grid-column-gap: 30px;

  .menu {
    grid-row: 2;
    font-size: 13px;
    color: #666666;
  }

  .menu.purplelabs {
    grid-column: 2;
  }
  .menu.purplelabs-healthcare {
    grid-column: 3;
  }
  .menu.recruit {
    grid-column: 4;
  }
  .copyright {
    grid-column: 6;
    grid-row: 2;
    font-size: 11px;
    color: #999999;
  }
}